<br>
<h1><%= @winemaker.name %> Wines</h1>
<table>
  <tr>
    <th>Wine Name</th>
    <th>Blend</th>
    <th>Vintage</th>
    <th>Barrels Produced</th>
    <th>Signature Label</th>
  </tr>
  <% @wines.each_with_index do |wine, index| %>
    <div id="winemaker-wines-<%= index %>">
      <tr>
        <td><%= wine.name %></td>
        <td><%= wine.blend %></td>
        <td><%= wine.vintage %></td>
        <td><%= wine.barrels_produced %></td>
        <td><%= wine.signature_label %></td>
      </tr>
    </div>
  <% end %>
</table>

<%= form_with url: "/winemakers/#{@winemaker.id}", method: :patch, local: true do |form| %>
  <p><%= form.label :name, 'Name:' %>
     <%= form.text_field :name %></p>
  <p><%= form.label :region, 'Region:' %>
     <%= form.text_field :region %></p>
  <p><%= form.label :vineyard_acreage, 'Vineyard Acreage:' %>
     <%= form.text_field :vineyard_acreage %></p>
  <p><%= form.label :public_tasting, 'Public Tasting:' %>
     <%= form.text_field :public_tasting %></p>
  <%= form.submit 'Update Winemaker' %>
<% end %>

<p><%= link_to "Sort Wine Alphabetically", "/winemakers/#{@winemaker.id}/wines?sort=asc" %></p>
<%= link_to "Create Wine", "/winemakers/#{@winemaker.id}/wines/new" %>
