<a href="/wines">All Wines</a>

<h1>Winemakers</h1>
<% @winemakers.each do |winemaker| %>
  <h3><%= winemaker.name %></h3>
  <p>Region: <%= winemaker.region %></p>
  <p>Vineyard Acreage: <%= winemaker.vineyard_acreage %></p>
<% end %>

<table>
  <tr>
    <th>Winemaker Name</th>
    <th>Date Created</th>
  </tr>
  <% @winemakers.most_recent.each_with_index do |winemaker, index| %>
    <div id="wine-<%= index %>">
      <tr>
        <td><%= winemaker.name %></td>
        <td><%= winemaker.formatted_date %></td>
      </tr>
    </div>
  <% end %>
</table>
