<br>
<%= form_with url: '/winemakers', method: :post, local: true do |form| %>
  <p><%= form.label :name, 'Name:' %>
     <%= form.text_field :name %></p>
  <p><%= form.label :region, 'Region:' %>
     <%= form.text_field :region %></p>
  <p><%= form.label :public_tasting, 'Public Tasting:' %>
     <%= form.text_field :public_tasting %></p>
  <p><%= form.label :vineyard_acreage, 'Vineyard Acreage:' %>
     <%= form.text_field :vineyard_acreage %></p>
  <%= form.submit 'Create Winemaker' %>
<% end %>
