<br>
<p><h2><%= @winemaker.name %></h2></p>
<p>Region: <%= @winemaker.region %></p>
<p>Vineyard Acreage: <%= @winemaker.vineyard_acreage %></p>
<p>Public Tastings: <%= @winemaker.public_tasting %></p>

<p><strong>Total number of <%= @winemaker.name %> wines: <%= @winemaker.wine_count %></strong></p>

<p><%= link_to "Update #{@winemaker.name}", "/winemakers/#{@winemaker.id}/edit", method: :get %></p>

<p><%= link_to "Delete Winemaker", "/winemakers/#{@winemaker.id}", method: :delete %></p>

<p><h2><%= link_to 'See Our Wines', "/winemakers/#{@winemaker.id}/wines" %></h2></p>
