<p><a href="/wines">All Wines</a></p>
<p><a href="/winemakers">All Winemakers</a></p>

<p>Region: <%= @winemaker.region %></p>
<p>Vineyard Acreage: <%= @winemaker.vineyard_acreage %></p>
<p>Public Tastings: <%= @winemaker.public_tasting %></p>

<p><strong>Total number of <%= @winemaker.name %> wines: <%= @winemaker.wine_count %></strong></p>
