<p><a href="/wines">All Wines</a></p>
<p><a href="/winemakers">All Winemakers</a></p>

<h1><%= @wine.name %></h1>
<p>Blend: <%= @wine.blend %></p>
<p>Vintage: <%= @wine.vintage %></p>
<p>Barrles Produced: <%= @wine.barrels_produced %></p>
<p>Signature Label: <%= @wine.signature_label %></p>
