<!DOCTYPE html>
<html>
  <head>
    <title>TaskManager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <p><a href="/wines">All Wines</a></p>
    <p><a href="/winemakers">All Winemakers</a></p>
    <%= yield %>
  </body>
</html>
